<div class="instructions wow">
  <section>
    <h3>Rules:</h3>
    <p>a book chapter or video will be announced to study before the meeting</p>
    <p>a place to discuss will be announced</p>
  </section>
  <section>
    <h3>Enroll:</h3>
    <p>install <a href="https://signal.org/">signal app</a></p>
    <p>text your name to 917-512-1486 via signal</p>
    <p>you’ll be added to the group</p>
  </section>
  <section>
    <h3>Also:</h3>
    <p>Free and open to all</p>
    <p>Safe space for queers and PoCs</p>
    <p>If you don’t study the assignment, please make space for those who do</p>
  </section>
</div>