body {
	margin: $gap3 0;
	font-size: 13px;
	background-color: #eee;
}

tr, td, th {
	font-size: 13px;
	border: none !important;
}
header.header {
	margin-bottom: $gap2;
	text-transform: capitalize;
.title, .dropdown {
	display: inline-block;
}
.title {
	padding-right: $gap;
}
.title, .dropdown-toggle {
	@extend h4;
}
	.dropdown {
		a {
			color: black;
			@include transition;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.dropdown-toggle {
		
		background-color: white;
		color: black;
		border: solid 1px #ccc;
		padding: $gaphalf $gap;
		@include radius(4px);
	}
	.dropdown-menu {
		a {
			display: block;
			padding: $gap $gap2;
			&:hover {
				background-color: #eee;
			}
		}
	}
}
.dataTables_filter {
	position: fixed;
	right: 0;
	display: none;
	top: 0;
	padding: $gap2;
}
a.add {
display: block;
  width: $gap5;
  height: $gap5; 
  text-align: center;   
  border-radius: 50%;

				color: white !important;
  background-color: black;
  position: fixed;
  @include transition;
  padding-top: 8px;
	bottom: 0;
	right: 0;
	margin: $gap3;
	@include opacity(60);
	@include radius(50%);
	@include shadow(box, 0 5px 2px rgba(0, 0, 0, 0.15));
	&:hover {
		@include opacity(100);
		@include shadow(box, 0 0px 15px rgba(0, 0, 0, 0.5));
		text-decoration: none;
	}
	&:after {
				font-family: 'glyphicons-halflings-regular';
				content: "\2b";
				font-size: 20px;
			}
}

footer.footer {
	background-color: #333;
	color: #ccc;
	ul, ol {
		@include reset(list);
		@include reset(all);
		li {
			&:not(:first-of-type) {
				margin-top: $gaphalf;
			}
		}
	}
	a {
		color: #ccc;
		text-decoration: underline;
	}
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: $gap3 0;
		grid-gap: $gap3;
	}
}