body {
	margin: $gap3 0;
}
header.header {
	margin-bottom: $gap2;
	text-transform: capitalize;
.title, .dropdown {
	display: inline-block;
}
.title {
	padding-right: $gap;
}
.title, .dropdown-toggle {
	@extend h4;
}
	.dropdown {
		a {
			color: black;
			@include transition;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.dropdown-toggle {
		
		
		color: black;
		border: solid 1px #ccc;
		padding: $gaphalf $gap2;
		@include radius(4px);
	}
	.dropdown-menu {
		a {
			display: block;
			padding: $gap $gap2;
			&:hover {
				background-color: #eee;
			}
		}
	}
}
.dataTables_filter {
	position: fixed;
	right: 0;
	display: none;
	top: 0;
	padding: $gap2;
}
a.add {
display: block;
  width: $gap5;
  height: $gap5; 
  text-align: center;   
  border-radius: 50%;

				color: white !important;
  background-color: black;
  position: fixed;
  @include transition;
  padding-top: $gap;
	bottom: 0;
	right: 0;
	margin: $gap3;
	@include opacity(70);
	@include radius(50%);
	@include shadow(box, 0 1px 3px rgba(0, 0, 0, 0.25));
	&:hover {
		@include opacity(100);
		text-decoration: none;
	}
	&:after {
				font-family: 'glyphicons-halflings-regular';
				content: "\2b";
			}
}