// Alert: if font path is NOT `../fonts/`, define  too.
@include font-face(glyphicons-halflings-regular, './fonts/');
#tabela-table_wrapper {
	border-top: solid 1px #ccc;
	padding-bottom: $gap;
	overflow: auto;
	thead {
		position: sticky !important;
		top: 0px;
	}
}

div.dataTables_length {
	label {
		font-weight: normal;
		text-align: left;
		white-space: nowrap;
	}
	select {
		width: 75px;
		display: inline-block;
	}
}
div.dataTables_filter {
	text-align: right;
	label {
		font-weight: normal;
		white-space: nowrap;
		text-align: left;
	}
	input {
		margin-left: 0.5em;
		display: inline-block;
		width: auto;
	}
}
div.dataTables_info {
	padding-top: $gap;
	white-space: nowrap;
}
div.dataTables_paginate {
	margin: 0;
	white-space: nowrap;
	text-align: right;
	ul.pagination {
		margin: 2px 0;
		white-space: nowrap;
	}
}
table.dataTable {
	td {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}
	th {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		&:active {
			outline: none;
		}
	}
	clear: both;
	margin-top: 6px !important;
	margin-bottom: 6px !important;
	max-width: none !important;
	thead {
		.sorting {
			cursor: pointer;
			position: relative;
			&:after {
				position: absolute;
				bottom: $gap;
				right: $gap;
				display: block;
				font-family: 'glyphicons-halflings-regular';
				opacity: 0.5;
				opacity: 0.2;
				content: "\e150";
			}
		}
		.sorting_asc {
			cursor: pointer;
			position: relative;
			&:after {
				position: absolute;
				bottom: $gap;
				right: $gap;
				display: block;
				font-family: 'glyphicons-halflings-regular';
				opacity: 0.5;
				content: "\e155";
			}
		}
		.sorting_desc {
			cursor: pointer;
			position: relative;
			&:after {
				position: absolute;
				bottom: $gap;
				right: $gap;
				display: block;
				font-family: 'glyphicons-halflings-regular';
				opacity: 0.5;
				content: "\e156";
			}
		}
		.sorting_asc_disabled {
			cursor: pointer;
			position: relative;
			&:after {
				color: #eee;
			}
		}
		.sorting_desc_disabled {
			cursor: pointer;
			position: relative;
			&:after {
				color: #eee;
			}
		}
		>tr {
			>th {
				padding-right: 30px;
			}
		}
	}
}
div.dataTables_scrollBody {
	table.dataTable {
		thead {
			.sorting {
				&:after {
					display: none;
				}
			}
			.sorting_asc {
				&:after {
					display: none;
				}
			}
			.sorting_desc {
				&:after {
					display: none;
				}
			}
		}
	}
	table {
		
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	tbody {
		tr {
			&:first-child {
				th {
					
				}
				td {
					
				}
			}
		}
	}
}
table.dataTable.table-condensed {
	thead {
		>tr {
			>th {
				padding-right: 20px;
			}
		}
		.sorting {
			&:after {
				top: 6px;
				right: 6px;
			}
		}
		.sorting_asc {
			&:after {
				top: 6px;
				right: 6px;
			}
		}
		.sorting_desc {
			&:after {
				top: 6px;
				right: 6px;
			}
		}
	}
}
div.dataTables_scrollHead {
	table {
		margin-bottom: 0 !important;
		thead {
			tr {
				&:last-child {
					th {
						&:first-child {
						}
					}
					td {
						&:first-child {
						}
					}
				}
			}
		}
	}
	table.table-bordered {
	}
}
div.dataTables_scrollFoot {
	table {
		margin-top: 0 !important;
		
	}
}
table.table-bordered.dataTable {
	border-collapse: separate !important;
}
table.table-bordered {
	thead {
		th {
			border-left-width: 0;
			border-top-width: 0;
		}
		td {
			border-left-width: 0;
			border-top-width: 0;
		}
	}
	tbody {
		th {
			border-left-width: 0;
			border-bottom-width: 0;
		}
		td {
			border-left-width: 0;
			border-bottom-width: 0;
		}
	}
	tfoot {
		th {
			border-left-width: 0;
			border-bottom-width: 0;
		}
		td {
			border-left-width: 0;
			border-bottom-width: 0;
		}
	}
	th {
		&:last-child {
			border-right-width: 0;
		}
	}
	td {
		&:last-child {
			border-right-width: 0;
		}
	}
}
.table.dataTable {
	tbody {
		tr.active {
			td {
				background-color: #08C;
				color: white;
				>a {
					color: white;
				}
			}
			th {
				background-color: #08C;
				color: white;
				>a {
					color: white;
				}
			}
			&:hover {
				td {
					background-color: #0075b0 !important;
				}
				th {
					background-color: #0075b0 !important;
				}
			}
		}
	}
}
.table-striped.dataTable {
	tbody {
		tr.active {
			&:nth-child(odd) {
				td {
					background-color: #017ebc;
				}
				th {
					background-color: #017ebc;
				}
			}
		}
	}
}
table.DTTT_selectable {
	tbody {
		tr {
			cursor: pointer;
		}
	}
}
div.DTTT {
	.btn {
		&:hover {
			text-decoration: none !important;
		}
	}
}
ul.DTTT_dropdown.dropdown-menu {
	z-index: 2003;
	a {
		color: #333 !important;
	}
	li {
		position: relative;
		&:hover {
			a {
				background-color: #0088cc;
				color: white !important;
			}
		}
	}
}
div.DTTT_collection_background {
	z-index: 2002;
}
div.DTTT_print_info {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 150px;
	margin-left: -200px;
	margin-top: -75px;
	text-align: center;
	color: #333;
	padding: 10px 30px;
	opacity: 0.95;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}
div.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 60px;
	margin-left: -50%;
	margin-top: -25px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-color: white;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);
}
div.DTFC_LeftHeadWrapper {
	table {
		background-color: white;
		margin-bottom: 0;
		border-bottom: none !important;
		margin-bottom: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		thead {
			tr {
				&:last-child {
					th {
						&:first-child {
							border-bottom-left-radius: 0 !important;
							border-bottom-right-radius: 0 !important;
						}
					}
					td {
						&:first-child {
							border-bottom-left-radius: 0 !important;
							border-bottom-right-radius: 0 !important;
						}
					}
				}
			}
		}
	}
}
div.DTFC_LeftFootWrapper {
	table {
		background-color: white;
		margin-bottom: 0;
		
		margin-top: 0 !important;
	}
}
div.DTFC_RightHeadWrapper {
	table {
		background-color: white;
		margin-bottom: 0;
		border-bottom: none !important;
		margin-bottom: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
		thead {
			tr {
				&:last-child {
					th {
						&:first-child {
							border-bottom-left-radius: 0 !important;
							border-bottom-right-radius: 0 !important;
						}
					}
					td {
						&:first-child {
							border-bottom-left-radius: 0 !important;
							border-bottom-right-radius: 0 !important;
						}
					}
				}
			}
		}
	}
}
div.DTFC_RightFootWrapper {
	table {
		background-color: white;
		margin-bottom: 0;
		
		margin-top: 0 !important;
	}
}
table.DTFC_Cloned {
	tr.even {
		background-color: white;
		margin-bottom: 0;
	}
}
div.DTFC_RightBodyWrapper {
	table {
		
		margin: 0 !important;
	}
	tbody {
		tr {
			&:first-child {
				th {
					
				}
				td {
					
				}
			}
		}
	}
	table.dataTable {
		thead {
			.sorting {
				&:after {
					display: none;
				}
			}
			.sorting_asc {
				&:after {
					display: none;
				}
			}
			.sorting_desc {
				&:after {
					display: none;
				}
			}
		}
	}
}
div.DTFC_LeftBodyWrapper {
	table {
		
		margin: 0 !important;
	}
	tbody {
		tr {
			&:first-child {
				th {
					
				}
				td {
					
				}
			}
		}
	}
	table.dataTable {
		thead {
			.sorting {
				&:after {
					display: none;
				}
			}
			.sorting_asc {
				&:after {
					display: none;
				}
			}
			.sorting_desc {
				&:after {
					display: none;
				}
			}
		}
	}
}
div.FixedHeader_Cloned {
	table {
		margin: 0 !important;
	}
}
@media screen and (max-width: 767px) {
	div.dataTables_wrapper {
		>div.row {
			>div {
				text-align: center;
			}
		}
	}
	div.dataTables_length {
		text-align: center;
	}
	div.dataTables_filter {
		text-align: center;
	}
	div.dataTables_info {
		text-align: center;
	}
	div.dataTables_paginate {
		text-align: center;
	}
	div.DTTT {
		margin-bottom: 0.5em;
	}
}
